<!-- ROW -->
<div><img src="moon/img/holds/h139.png" id="A18" class="hold rot_N"></div>
<div><img src="moon/img/holds/h99.png" id="B18" class="hold rot_SE"></div>
<div><img src="moon/img/holds/h39.png" id="C18" class="hold rot_N"></div>
<div><img src="moon/img/holds/h136.png" id="D18" class="hold rot_N"></div>
<div><img src="moon/img/holds/h91.png" id="E18" class="hold rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h82.png" id="G18" class="hold rot_W"></div>
<div><img src="moon/img/holds/h28.png" id="H18" class="hold rot_N"></div>
<div><img src="moon/img/holds/h132.png" id="I18" class="hold rot_NE"></div>
<div></div>
<div><img src="moon/img/holds/h87.png" id="K18" class="hold rot_W"></div>
<!-- ROW -->
<div></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h51.png" id="D17" class="hold rot_N"></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h115.png" id="G17" class="hold rot_N"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<!-- ROW -->
<div><img src="moon/img/holds/h5.png" id="A16" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h71.png" id="B16" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h143.png" id="C16" class="hold rot_N"></div>
<div><img src="moon/img/holds/h14.png" id="D16" class="hold rot_N"></div>
<div><img src="moon/img/holds/h106.png" id="E16" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h96.png" id="F16" class="hold rot_S"></div>
<div><img src="moon/img/holds/h16.png" id="G16" class="hold rot_N"></div>
<div><img src="moon/img/holds/h100.png" id="H16" class="hold rot_N"></div>
<div><img src="moon/img/holds/h69.png" id="I16" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h117.png" id="J16" class="hold rot_E"></div>
<div><img src="moon/img/holds/h104.png" id="K16" class="hold rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h98.png" id="A15" class="hold rot_N"></div>
<div><img src="moon/img/holds/h101.png" id="B15" class="hold rot_N"></div>
<div><img src="moon/img/holds/h31.png" id="C15" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h126.png" id="D15" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h66.png" id="E15" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h18.png" id="F15" class="hold rot_N"></div>
<div><img src="moon/img/holds/h112.png" id="G15" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h20.png" id="H15" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h108.png" id="I15" class="hold rot_NW"></div>
<div></div>
<div></div>
<!-- ROW -->
<div><img src="moon/img/holds/h123.png" id="A14" class="hold rot_NW"></div>
<div></div>
<div><img src="moon/img/holds/h50.png" id="C14" class="hold rot_N"></div>
<div><img src="moon/img/holds/h93.png" id="D14" class="hold rot_N"></div>
<div><img src="moon/img/holds/h127.png" id="E14" class="hold rot_E"></div>
<div><img src="moon/img/holds/h62.png" id="F14" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h137.png" id="G14" class="hold rot_E"></div>
<div><img src="moon/img/holds/h34.png" id="H14" class="hold rot_W"></div>
<div><img src="moon/img/holds/h124.png" id="I14" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h2.png" id="J14" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h144.png" id="K14" class="hold rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h26.png" id="A13" class="hold rot_N"></div>
<div><img src="moon/img/holds/h77.png" id="B13" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h138.png" id="C13" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h24.png" id="D13" class="hold rot_N"></div>
<div><img src="moon/img/holds/h59.png" id="E13" class="hold rot_N"></div>
<div><img src="moon/img/holds/h105.png" id="F13" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h90.png" id="G13" class="hold rot_N"></div>
<div><img src="moon/img/holds/h149.png" id="H13" class="hold rot_SW"></div>
<div><img src="moon/img/holds/h63.png" id="I13" class="hold rot_E"></div>
<div><img src="moon/img/holds/h103.png" id="J13" class="hold rot_N"></div>
<div><img src="moon/img/holds/h37.png" id="K13" class="hold rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h68.png" id="A12" class="hold rot_E"></div>
<div><img src="moon/img/holds/h142.png" id="B12" class="hold rot_SE"></div>
<div><img src="moon/img/holds/h21.png" id="C12" class="hold rot_N"></div>
<div><img src="moon/img/holds/h75.png" id="D12" class="hold rot_N"></div>
<div><img src="moon/img/holds/h110.png" id="E12" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h54.png" id="F12" class="hold rot_E"></div>
<div><img src="moon/img/holds/h55.png" id="G12" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h114.png" id="H12" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h36.png" id="I12" class="hold rot_SW"></div>
<div><img src="moon/img/holds/h102.png" id="J12" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h11.png" id="K12" class="hold rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h12.png" id="A11" class="hold rot_SE"></div>
<div><img src="moon/img/holds/h56.png" id="B11" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h94.png" id="C11" class="hold rot_W"></div>
<div><img src="moon/img/holds/h119.png" id="D11" class="hold rot_SW"></div>
<div><img src="moon/img/holds/h72.png" id="E11" class="hold rot_N"></div>
<div><img src="moon/img/holds/h118.png" id="F11" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h27.png" id="G11" class="hold rot_E"></div>
<div><img src="moon/img/holds/h73.png" id="H11" class="hold rot_W"></div>
<div><img src="moon/img/holds/h70.png" id="I11" class="hold rot_N"></div>
<div><img src="moon/img/holds/h25.png" id="J11" class="hold rot_N"></div>
<div><img src="moon/img/holds/h84.png" id="K11" class="hold rot_NW"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h9.png" id="A10" class="hold rot_SW"></div>
<div><img src="moon/img/holds/h148.png" id="B10" class="hold rot_SE"></div>
<div><img src="moon/img/holds/h79.png" id="C10" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h33.png" id="D10" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h64.png" id="E10" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h65.png" id="F10" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h145.png" id="G10" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h140.png" id="H10" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h120.png" id="I10" class="hold rot_N"></div>
<div><img src="moon/img/holds/h57.png" id="J10" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h15.png" id="K10" class="hold rot_S"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h133.png" id="A9" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h78.png" id="B9" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h8.png" id="C9" class="hold rot_W"></div>
<div><img src="moon/img/holds/h52.png" id="D9" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h116.png" id="E9" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h40.png" id="F9" class="hold rot_N"></div>
<div><img src="moon/img/holds/h128.png" id="G9" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h32.png" id="H9" class="hold rot_E"></div>
<div><img src="moon/img/holds/h109.png" id="I9" class="hold rot_SE"></div>
<div><img src="moon/img/holds/h61.png" id="J9" class="hold rot_SE"></div>
<div><img src="moon/img/holds/h121.png" id="K9" class="hold rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h67.png" id="B8" class="hold rot_N"></div>
<div><img src="moon/img/holds/h135.png" id="C8" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h4.png" id="D8" class="hold rot_N"></div>
<div><img src="moon/img/holds/h122.png" id="E8" class="hold rot_N"></div>
<div><img src="moon/img/holds/h17.png" id="F8" class="hold rot_N"></div>
<div><img src="moon/img/holds/h88.png" id="G8" class="hold rot_N"></div>
<div><img src="moon/img/holds/h131.png" id="H8" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h10.png" id="I8" class="hold rot_N"></div>
<div><img src="moon/img/holds/h76.png" id="J8" class="hold rot_N"></div>
<div><img src="moon/img/holds/h30.png" id="K8" class="hold rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h13.png" id="B7" class="hold rot_S"></div>
<div><img src="moon/img/holds/h38.png" id="C7" class="hold rot_N"></div>
<div><img src="moon/img/holds/h146.png" id="D7" class="hold rot_S"></div>
<div><img src="moon/img/holds/h74.png" id="E7" class="hold rot_S"></div>
<div><img src="moon/img/holds/h53.png" id="F7" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h19.png" id="G7" class="hold rot_SW"></div>
<div><img src="moon/img/holds/h1.png" id="H7" class="hold rot_SE"></div>
<div><img src="moon/img/holds/h107.png" id="I7" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h113.png" id="J7" class="hold rot_N"></div>
<div><img src="moon/img/holds/h3.png" id="K7" class="hold rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h147.png" id="B6" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h95.png" id="C6" class="hold rot_S"></div>
<div><img src="moon/img/holds/h22.png" id="D6" class="hold rot_N"></div>
<div><img src="moon/img/holds/h129.png" id="E6" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h6.png" id="F6" class="hold rot_E"></div>
<div><img src="moon/img/holds/h134.png" id="G6" class="hold rot_SW"></div>
<div></div>
<div><img src="moon/img/holds/h60.png" id="I6" class="hold rot_NE"></div>
<div><img src="moon/img/holds/h92.png" id="J6" class="hold rot_S"></div>
<div><img src="moon/img/holds/h7.png" id="K6" class="hold rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h85.png" id="A5" class="hold rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h125.png" id="C5" class="hold rot_N"></div>
<div><img src="moon/img/holds/h97.png" id="D5" class="hold rot_NW"></div>
<div></div>
<div><img src="moon/img/holds/h89.png" id="F5" class="hold rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h111.png" id="H5" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h35.png" id="I5" class="hold rot_N"></div>
<div><img src="moon/img/holds/h130.png" id="J5" class="hold rot_NW"></div>
<div><img src="moon/img/holds/h86.png" id="K5" class="hold rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h29.png" id="B4" class="hold rot_SW"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h141.png" id="G4" class="hold rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h83.png" id="I4" class="hold rot_NE"></div>
<div></div>
<div></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h80.png" id="B3" class="hold rot_SW"></div>
<div></div>
<div><img src="moon/img/holds/h23.png" id="D3" class="hold rot_S"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<!-- ROW -->
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h81.png" id="G2" class="hold rot_N"></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h58.png" id="J2" class="hold rot_SE"></div>
<div></div>
<!-- ROW -->
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>