<!-- ROW -->
<div><img src="moon/img/holds/h139.png" class="hold A18 rot_N"></div>
<div><img src="moon/img/holds/h99.png" class="hold B18 rot_SE"></div>
<div><img src="moon/img/holds/h39.png" class="hold C18 rot_N"></div>
<div><img src="moon/img/holds/h136.png" class="hold D18 rot_N"></div>
<div><img src="moon/img/holds/h91.png" class="hold E18 rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h82.png" class="hold G18 rot_W"></div>
<div><img src="moon/img/holds/h28.png" class="hold H18 rot_N"></div>
<div><img src="moon/img/holds/h132.png" class="hold I18 rot_NE"></div>
<div></div>
<div><img src="moon/img/holds/h87.png" class="hold K18 rot_W"></div>
<!-- ROW -->
<div></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h51.png" class="hold D17 rot_N"></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h115.png" class="hold G17 rot_N"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<!-- ROW -->
<div><img src="moon/img/holds/h5.png" class="hold A16 rot_NW"></div>
<div><img src="moon/img/holds/h71.png" class="hold B16 rot_NW"></div>
<div><img src="moon/img/holds/h143.png" class="hold C16 rot_N"></div>
<div><img src="moon/img/holds/h14.png" class="hold D16 rot_N"></div>
<div><img src="moon/img/holds/h106.png" class="hold E16 rot_NW"></div>
<div><img src="moon/img/holds/h96.png" class="hold F16 rot_S"></div>
<div><img src="moon/img/holds/h16.png" class="hold G16 rot_N"></div>
<div><img src="moon/img/holds/h100.png" class="hold H16 rot_N"></div>
<div><img src="moon/img/holds/h69.png" class="hold I16 rot_NE"></div>
<div><img src="moon/img/holds/h117.png" class="hold J16 rot_E"></div>
<div><img src="moon/img/holds/h104.png" class="hold K16 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h98.png" class="hold A15 rot_N"></div>
<div><img src="moon/img/holds/h101.png" class="hold B15 rot_N"></div>
<div><img src="moon/img/holds/h31.png" class="hold C15 rot_NW"></div>
<div><img src="moon/img/holds/h126.png" class="hold D15 rot_NW"></div>
<div><img src="moon/img/holds/h66.png" class="hold E15 rot_NW"></div>
<div><img src="moon/img/holds/h18.png" class="hold F15 rot_N"></div>
<div><img src="moon/img/holds/h112.png" class="hold G15 rot_NW"></div>
<div><img src="moon/img/holds/h20.png" class="hold H15 rot_NE"></div>
<div><img src="moon/img/holds/h108.png" class="hold I15 rot_NW"></div>
<div></div>
<div></div>
<!-- ROW -->
<div><img src="moon/img/holds/h123.png" class="hold A14 rot_NW"></div>
<div></div>
<div><img src="moon/img/holds/h50.png" class="hold C14 rot_N"></div>
<div><img src="moon/img/holds/h93.png" class="hold D14 rot_N"></div>
<div><img src="moon/img/holds/h127.png" class="hold E14 rot_E"></div>
<div><img src="moon/img/holds/h62.png" class="hold F14 rot_NW"></div>
<div><img src="moon/img/holds/h137.png" class="hold G14 rot_E"></div>
<div><img src="moon/img/holds/h34.png" class="hold H14 rot_W"></div>
<div><img src="moon/img/holds/h124.png" class="hold I14 rot_NW"></div>
<div><img src="moon/img/holds/h2.png" class="hold J14 rot_NW"></div>
<div><img src="moon/img/holds/h144.png" class="hold K14 rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h26.png" class="hold A13 rot_N"></div>
<div><img src="moon/img/holds/h77.png" class="hold B13 rot_NW"></div>
<div><img src="moon/img/holds/h138.png" class="hold C13 rot_NW"></div>
<div><img src="moon/img/holds/h24.png" class="hold D13 rot_N"></div>
<div><img src="moon/img/holds/h59.png" class="hold E13 rot_N"></div>
<div><img src="moon/img/holds/h105.png" class="hold F13 rot_NW"></div>
<div><img src="moon/img/holds/h90.png" class="hold G13 rot_N"></div>
<div><img src="moon/img/holds/h149.png" class="hold H13 rot_SW"></div>
<div><img src="moon/img/holds/h63.png" class="hold I13 rot_E"></div>
<div><img src="moon/img/holds/h103.png" class="hold J13 rot_N"></div>
<div><img src="moon/img/holds/h37.png" class="hold K13 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h68.png" class="hold A12 rot_E"></div>
<div><img src="moon/img/holds/h142.png" class="hold B12 rot_SE"></div>
<div><img src="moon/img/holds/h21.png" class="hold C12 rot_N"></div>
<div><img src="moon/img/holds/h75.png" class="hold D12 rot_N"></div>
<div><img src="moon/img/holds/h110.png" class="hold E12 rot_NE"></div>
<div><img src="moon/img/holds/h54.png" class="hold F12 rot_E"></div>
<div><img src="moon/img/holds/h55.png" class="hold G12 rot_NE"></div>
<div><img src="moon/img/holds/h114.png" class="hold H12 rot_NW"></div>
<div><img src="moon/img/holds/h36.png" class="hold I12 rot_SW"></div>
<div><img src="moon/img/holds/h102.png" class="hold J12 rot_NE"></div>
<div><img src="moon/img/holds/h11.png" class="hold K12 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h12.png" class="hold A11 rot_SE"></div>
<div><img src="moon/img/holds/h56.png" class="hold B11 rot_NW"></div>
<div><img src="moon/img/holds/h94.png" class="hold C11 rot_W"></div>
<div><img src="moon/img/holds/h119.png" class="hold D11 rot_SW"></div>
<div><img src="moon/img/holds/h72.png" class="hold E11 rot_N"></div>
<div><img src="moon/img/holds/h118.png" class="hold F11 rot_NE"></div>
<div><img src="moon/img/holds/h27.png" class="hold G11 rot_E"></div>
<div><img src="moon/img/holds/h73.png" class="hold H11 rot_W"></div>
<div><img src="moon/img/holds/h70.png" class="hold I11 rot_N"></div>
<div><img src="moon/img/holds/h25.png" class="hold J11 rot_N"></div>
<div><img src="moon/img/holds/h84.png" class="hold K11 rot_NW"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h9.png" class="hold A10 rot_SW"></div>
<div><img src="moon/img/holds/h148.png" class="hold B10 rot_SE"></div>
<div><img src="moon/img/holds/h79.png" class="hold C10 rot_NE"></div>
<div><img src="moon/img/holds/h33.png" class="hold D10 rot_NW"></div>
<div><img src="moon/img/holds/h64.png" class="hold E10 rot_NW"></div>
<div><img src="moon/img/holds/h65.png" class="hold F10 rot_NE"></div>
<div><img src="moon/img/holds/h145.png" class="hold G10 rot_NE"></div>
<div><img src="moon/img/holds/h140.png" class="hold H10 rot_NE"></div>
<div><img src="moon/img/holds/h120.png" class="hold I10 rot_N"></div>
<div><img src="moon/img/holds/h57.png" class="hold J10 rot_NE"></div>
<div><img src="moon/img/holds/h15.png" class="hold K10 rot_S"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h133.png" class="hold A9 rot_NW"></div>
<div><img src="moon/img/holds/h78.png" class="hold B9 rot_NE"></div>
<div><img src="moon/img/holds/h8.png" class="hold C9 rot_W"></div>
<div><img src="moon/img/holds/h52.png" class="hold D9 rot_NE"></div>
<div><img src="moon/img/holds/h116.png" class="hold E9 rot_NE"></div>
<div><img src="moon/img/holds/h40.png" class="hold F9 rot_N"></div>
<div><img src="moon/img/holds/h128.png" class="hold G9 rot_NE"></div>
<div><img src="moon/img/holds/h32.png" class="hold H9 rot_E"></div>
<div><img src="moon/img/holds/h109.png" class="hold I9 rot_SE"></div>
<div><img src="moon/img/holds/h61.png" class="hold J9 rot_SE"></div>
<div><img src="moon/img/holds/h121.png" class="hold K9 rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h67.png" class="hold B8 rot_N"></div>
<div><img src="moon/img/holds/h135.png" class="hold C8 rot_NW"></div>
<div><img src="moon/img/holds/h4.png" class="hold D8 rot_N"></div>
<div><img src="moon/img/holds/h122.png" class="hold E8 rot_N"></div>
<div><img src="moon/img/holds/h17.png" class="hold F8 rot_N"></div>
<div><img src="moon/img/holds/h88.png" class="hold G8 rot_N"></div>
<div><img src="moon/img/holds/h131.png" class="hold H8 rot_NE"></div>
<div><img src="moon/img/holds/h10.png" class="hold I8 rot_N"></div>
<div><img src="moon/img/holds/h76.png" class="hold J8 rot_N"></div>
<div><img src="moon/img/holds/h30.png" class="hold K8 rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h13.png" class="hold B7 rot_S"></div>
<div><img src="moon/img/holds/h38.png" class="hold C7 rot_N"></div>
<div><img src="moon/img/holds/h146.png" class="hold D7 rot_S"></div>
<div><img src="moon/img/holds/h74.png" class="hold E7 rot_S"></div>
<div><img src="moon/img/holds/h53.png" class="hold F7 rot_NW"></div>
<div><img src="moon/img/holds/h19.png" class="hold G7 rot_SW"></div>
<div><img src="moon/img/holds/h1.png" class="hold H7 rot_SE"></div>
<div><img src="moon/img/holds/h107.png" class="hold I7 rot_NE"></div>
<div><img src="moon/img/holds/h113.png" class="hold J7 rot_N"></div>
<div><img src="moon/img/holds/h3.png" class="hold K7 rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h147.png" class="hold B6 rot_NW"></div>
<div><img src="moon/img/holds/h95.png" class="hold C6 rot_S"></div>
<div><img src="moon/img/holds/h22.png" class="hold D6 rot_N"></div>
<div><img src="moon/img/holds/h129.png" class="hold E6 rot_NW"></div>
<div><img src="moon/img/holds/h6.png" class="hold F6 rot_E"></div>
<div><img src="moon/img/holds/h134.png" class="hold G6 rot_SW"></div>
<div></div>
<div><img src="moon/img/holds/h60.png" class="hold I6 rot_NE"></div>
<div><img src="moon/img/holds/h92.png" class="hold J6 rot_S"></div>
<div><img src="moon/img/holds/h7.png" class="hold K6 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h85.png" class="hold A5 rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h125.png" class="hold C5 rot_N"></div>
<div><img src="moon/img/holds/h97.png" class="hold D5 rot_NW"></div>
<div></div>
<div><img src="moon/img/holds/h89.png" class="hold F5 rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h111.png" class="hold H5 rot_NW"></div>
<div><img src="moon/img/holds/h35.png" class="hold I5 rot_N"></div>
<div><img src="moon/img/holds/h130.png" class="hold J5 rot_NW"></div>
<div><img src="moon/img/holds/h86.png" class="hold K5 rot_N"></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h29.png" class="hold B4 rot_SW"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h141.png" class="hold G4 rot_N"></div>
<div></div>
<div><img src="moon/img/holds/h83.png" class="hold I4 rot_NE"></div>
<div></div>
<div></div>
<!-- ROW -->
<div></div>
<div><img src="moon/img/holds/h80.png" class="hold B3 rot_SW"></div>
<div></div>
<div><img src="moon/img/holds/h23.png" class="hold D3 rot_S"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<!-- ROW -->
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h81.png" class="hold G2 rot_N"></div>
<div></div>
<div></div>
<div><img src="moon/img/holds/h58.png" class="hold J2 rot_SE"></div>
<div></div>
<!-- ROW -->
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>