
<!-- ROW -->
<div><img src="moon/img/holds/h77.png" class="hold col_A row_18 rot_N"></div>
<div><img src="moon/img/holds/h170.png" class="hold col_B row_18 rot_NW"></div>
<div><img src="moon/img/holds/hw04.png" class="hold col_C row_18 rot_E"></div>
<div><img src="moon/img/holds/h128.png" class="hold col_D row_18 rot_N"></div>
<div><img src="moon/img/holds/h198.png" class="hold col_E row_18 rot_N"></div>
<div><img src="moon/img/holds/h141.png" class="hold col_F row_18 rot_N"></div>
<div><img src="moon/img/holds/h30.png" class="hold col_G row_18 rot_N"></div>
<div><img src="moon/img/holds/h91.png" class="hold col_H row_18 rot_N"></div>
<div><img src="moon/img/holds/hw03.png" class="hold col_I row_18 rot_W"></div>
<div><img src="moon/img/holds/h196.png" class="hold col_J row_18 rot_N"></div>
<div><img src="moon/img/holds/h28.png" class="hold col_K row_18 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h181.png" class="hold col_A row_17 rot_N"></div>
<div><img src="moon/img/holds/h7.png" class="hold col_B row_17 rot_N"></div>
<div><img src="moon/img/holds/h116.png" class="hold col_C row_17 rot_NW"></div>
<div><img src="moon/img/holds/h53.png" class="hold col_D row_17 rot_N"></div>
<div><img src="moon/img/holds/h162.png" class="hold col_E row_17 rot_SW"></div>
<div><img src="moon/img/holds/h182.png" class="hold col_F row_17 rot_N"></div>
<div><img src="moon/img/holds/h52.png" class="hold col_G row_17 rot_N"></div>
<div><img src="moon/img/holds/h103.png" class="hold col_H row_17 rot_N"></div>
<div><img src="moon/img/holds/h16.png" class="hold col_I row_17 rot_N"></div>
<div><img src="moon/img/holds/h174.png" class="hold col_J row_17 rot_SE"></div>
<div><img src="moon/img/holds/h51.png" class="hold col_K row_17 rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h58.png" class="hold col_A row_16 rot_NW"></div>
<div><img src="moon/img/holds/h20.png" class="hold col_B row_16 rot_NE"></div>
<div><img src="moon/img/holds/h197.png" class="hold col_C row_16 rot_NE"></div>
<div><img src="moon/img/holds/hw19.png" class="hold col_D row_16 rot_SW"></div>
<div><img src="moon/img/holds/h180.png" class="hold col_E row_16 rot_S"></div>
<div><img src="moon/img/holds/h11.png" class="hold col_F row_16 rot_N"></div>
<div><img src="moon/img/holds/h117.png" class="hold col_G row_16 rot_NW"></div>
<div><img src="moon/img/holds/hw20.png" class="hold col_H row_16 rot_SE"></div>
<div><img src="moon/img/holds/h88.png" class="hold col_I row_16 rot_NW"></div>
<div><img src="moon/img/holds/h176.png" class="hold col_J row_16 rot_N"></div>
<div><img src="moon/img/holds/h107.png" class="hold col_K row_16 rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h60.png" class="hold col_A row_15 rot_N"></div>
<div><img src="moon/img/holds/hw08.png" class="hold col_B row_15 rot_SW"></div>
<div><img src="moon/img/holds/h22.png" class="hold col_C row_15 rot_NW"></div>
<div><img src="moon/img/holds/h132.png" class="hold col_D row_15 rot_NE"></div>
<div><img src="moon/img/holds/hw09.png" class="hold col_E row_15 rot_SW"></div>
<div><img src="moon/img/holds/h164.png" class="hold col_F row_15 rot_NW"></div>
<div><img src="moon/img/holds/hw10.png" class="hold col_G row_15 rot_SE"></div>
<div><img src="moon/img/holds/h106.png" class="hold col_H row_15 rot_N"></div>
<div><img src="moon/img/holds/h168.png" class="hold col_I row_15 rot_S"></div>
<div><img src="moon/img/holds/hw07.png" class="hold col_J row_15 rot_SE"></div>
<div><img src="moon/img/holds/h80.png" class="hold col_K row_15 rot_E"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h173.png" class="hold col_A row_14 rot_N"></div>
<div><img src="moon/img/holds/h68.png" class="hold col_B row_14 rot_E"></div>
<div><img src="moon/img/holds/h178.png" class="hold col_C row_14 rot_NW"></div>
<div><img src="moon/img/holds/h151.png" class="hold col_D row_14 rot_NE"></div>
<div><img src="moon/img/holds/h110.png" class="hold col_E row_14 rot_NE"></div>
<div><img src="moon/img/holds/h32.png" class="hold col_F row_14 rot_N"></div>
<div><img src="moon/img/holds/h78.png" class="hold col_G row_14 rot_N"></div>
<div><img src="moon/img/holds/h105.png" class="hold col_H row_14 rot_N"></div>
<div><img src="moon/img/holds/h27.png" class="hold col_I row_14 rot_E"></div>
<div><img src="moon/img/holds/h191.png" class="hold col_J row_14 rot_S"></div>
<div><img src="moon/img/holds/h150.png" class="hold col_K row_14 rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h6.png" class="hold col_A row_13 rot_E"></div>
<div><img src="moon/img/holds/h138.png" class="hold col_B row_13 rot_N"></div>
<div><img src="moon/img/holds/h90.png" class="hold col_C row_13 rot_NW"></div>
<div><img src="moon/img/holds/hw12.png" class="hold col_D row_13 rot_W"></div>
<div><img src="moon/img/holds/h201.png" class="hold col_E row_13 rot_N"></div>
<div><img src="moon/img/holds/h33.png" class="hold col_F row_13 rot_W"></div>
<div><img src="moon/img/holds/h136.png" class="hold col_G row_13 rot_NE"></div>
<div><img src="moon/img/holds/hw11.png" class="hold col_H row_13 rot_E"></div>
<div><img src="moon/img/holds/h179.png" class="hold col_I row_13 rot_SE"></div>
<div><img src="moon/img/holds/h139.png" class="hold col_J row_13 rot_NE"></div>
<div><img src="moon/img/holds/h84.png" class="hold col_K row_13 rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h183.png" class="hold col_A row_12 rot_N"></div>
<div><img src="moon/img/holds/hw21.png" class="hold col_B row_12 rot_SW"></div>
<div><img src="moon/img/holds/h152.png" class="hold col_C row_12 rot_SW"></div>
<div><img src="moon/img/holds/h131.png" class="hold col_D row_12 rot_NW"></div>
<div><img src="moon/img/holds/hw06.png" class="hold col_E row_12 rot_W"></div>
<div><img src="moon/img/holds/h130.png" class="hold col_F row_12 rot_S"></div>
<div><img src="moon/img/holds/hw05.png" class="hold col_G row_12 rot_E"></div>
<div><img src="moon/img/holds/h186.png" class="hold col_H row_12 rot_N"></div>
<div><img src="moon/img/holds/h54.png" class="hold col_I row_12 rot_E"></div>
<div><img src="moon/img/holds/hw22.png" class="hold col_J row_12 rot_SE"></div>
<div><img src="moon/img/holds/h37.png" class="hold col_K row_12 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h76.png" class="hold col_A row_11 rot_N"></div>
<div><img src="moon/img/holds/h184.png" class="hold col_B row_11 rot_NW"></div>
<div><img src="moon/img/holds/hw17.png" class="hold col_C row_11 rot_W"></div>
<div><img src="moon/img/holds/h31.png" class="hold col_D row_11 rot_NW"></div>
<div><img src="moon/img/holds/h74.png" class="hold col_E row_11 rot_SE"></div>
<div><img src="moon/img/holds/h26.png" class="hold col_F row_11 rot_NE"></div>
<div><img src="moon/img/holds/h163.png" class="hold col_G row_11 rot_NW"></div>
<div><img src="moon/img/holds/h137.png" class="hold col_H row_11 rot_NE"></div>
<div><img src="moon/img/holds/hw18.png" class="hold col_I row_11 rot_E"></div>
<div><img src="moon/img/holds/h195.png" class="hold col_J row_11 rot_NE"></div>
<div><img src="moon/img/holds/h133.png" class="hold col_K row_11 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/hw29.png" class="hold col_A row_10 rot_SW"></div>
<div><img src="moon/img/holds/h135.png" class="hold col_B row_10 rot_NW"></div>
<div><img src="moon/img/holds/h82.png" class="hold col_C row_10 rot_W"></div>
<div><img src="moon/img/holds/h171.png" class="hold col_D row_10 rot_NW"></div>
<div><img src="moon/img/holds/h177.png" class="hold col_E row_10 rot_E"></div>
<div><img src="moon/img/holds/h34.png" class="hold col_F row_10 rot_SW"></div>
<div><img src="moon/img/holds/h124.png" class="hold col_G row_10 rot_NW"></div>
<div><img src="moon/img/holds/h89.png" class="hold col_H row_10 rot_E"></div>
<div><img src="moon/img/holds/h190.png" class="hold col_I row_10 rot_NW"></div>
<div><img src="moon/img/holds/h1.png" class="hold col_J row_10 rot_E"></div>
<div><img src="moon/img/holds/hw30.png" class="hold col_K row_10 rot_SE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h25.png" class="hold col_A row_9 rot_N"></div>
<div><img src="moon/img/holds/h125.png" class="hold col_B row_9 rot_N"></div>
<div><img src="moon/img/holds/hw27.png" class="hold col_C row_9 rot_SW"></div>
<div><img src="moon/img/holds/h83.png" class="hold col_D row_9 rot_NW"></div>
<div><img src="moon/img/holds/hw15.png" class="hold col_E row_9 rot_NE"></div>
<div><img src="moon/img/holds/h192.png" class="hold col_F row_9 rot_N"></div>
<div><img src="moon/img/holds/hw16.png" class="hold col_G row_9 rot_NW"></div>
<div><img src="moon/img/holds/h72.png" class="hold col_H row_9 rot_N"></div>
<div><img src="moon/img/holds/hw28.png" class="hold col_I row_9 rot_SE"></div>
<div><img src="moon/img/holds/h169.png" class="hold col_J row_9 rot_NE"></div>
<div><img src="moon/img/holds/h127.png" class="hold col_K row_9 rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h111.png" class="hold col_A row_8 rot_NW"></div>
<div><img src="moon/img/holds/h73.png" class="hold col_B row_8 rot_SW"></div>
<div><img src="moon/img/holds/h12.png" class="hold col_C row_8 rot_N"></div>
<div><img src="moon/img/holds/h187.png" class="hold col_D row_8 rot_SW"></div>
<div><img src="moon/img/holds/h75.png" class="hold col_E row_8 rot_N"></div>
<div><img src="moon/img/holds/h172.png" class="hold col_F row_8 rot_N"></div>
<div><img src="moon/img/holds/h126.png" class="hold col_G row_8 rot_NW"></div>
<div><img src="moon/img/holds/h154.png" class="hold col_H row_8 rot_NE"></div>
<div><img src="moon/img/holds/h86.png" class="hold col_I row_8 rot_NE"></div>
<div><img src="moon/img/holds/h2.png" class="hold col_J row_8 rot_N"></div>
<div><img src="moon/img/holds/h108.png" class="hold col_K row_8 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/hw23.png" class="hold col_A row_7 rot_NE"></div>
<div><img src="moon/img/holds/h40.png" class="hold col_B row_7 rot_N"></div>
<div><img src="moon/img/holds/h129.png" class="hold col_C row_7 rot_N"></div>
<div><img src="moon/img/holds/hw02.png" class="hold col_D row_7 rot_SE"></div>
<div><img src="moon/img/holds/h188.png" class="hold col_E row_7 rot_N"></div>
<div><img src="moon/img/holds/h118.png" class="hold col_F row_7 rot_N"></div>
<div><img src="moon/img/holds/h99.png" class="hold col_G row_7 rot_NW"></div>
<div><img src="moon/img/holds/hw01.png" class="hold col_H row_7 rot_SW"></div>
<div><img src="moon/img/holds/h189.png" class="hold col_I row_7 rot_NE"></div>
<div><img src="moon/img/holds/h69.png" class="hold col_J row_7 rot_SE"></div>
<div><img src="moon/img/holds/hw24.png" class="hold col_K row_7 rot_NW"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h175.png" class="hold col_A row_6 rot_N"></div>
<div><img src="moon/img/holds/h18.png" class="hold col_B row_6 rot_N"></div>
<div><img src="moon/img/holds/hw31.png" class="hold col_C row_6 rot_NE"></div>
<div><img src="moon/img/holds/h115.png" class="hold col_D row_6 rot_N"></div>
<div><img src="moon/img/holds/h63.png" class="hold col_E row_6 rot_N"></div>
<div><img src="moon/img/holds/h161.png" class="hold col_F row_6 rot_NW"></div>
<div><img src="moon/img/holds/h79.png" class="hold col_G row_6 rot_NE"></div>
<div><img src="moon/img/holds/h5.png" class="hold col_H row_6 rot_N"></div>
<div><img src="moon/img/holds/hw32.png" class="hold col_I row_6 rot_NW"></div>
<div><img src="moon/img/holds/h123.png" class="hold col_J row_6 rot_N"></div>
<div><img src="moon/img/holds/h156.png" class="hold col_K row_6 rot_N"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h140.png" class="hold col_A row_5 rot_NW"></div>
<div><img src="moon/img/holds/hw13.png" class="hold col_B row_5 rot_SW"></div>
<div><img src="moon/img/holds/h13.png" class="hold col_C row_5 rot_S"></div>
<div><img src="moon/img/holds/h119.png" class="hold col_D row_5 rot_W"></div>
<div><img src="moon/img/holds/hw25.png" class="hold col_E row_5 rot_E"></div>
<div><img src="moon/img/holds/h87.png" class="hold col_F row_5 rot_N"></div>
<div><img src="moon/img/holds/hw26.png" class="hold col_G row_5 rot_W"></div>
<div><img src="moon/img/holds/h194.png" class="hold col_H row_5 rot_E"></div>
<div><img src="moon/img/holds/h71.png" class="hold col_I row_5 rot_SE"></div>
<div><img src="moon/img/holds/hw14.png" class="hold col_J row_5 rot_SE"></div>
<div><img src="moon/img/holds/h36.png" class="hold col_K row_5 rot_SW"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h157.png" class="hold col_A row_4 rot_NW"></div>
<div><img src="moon/img/holds/h66.png" class="hold col_B row_4 rot_N"></div>
<div><img src="moon/img/holds/h35.png" class="hold col_C row_4 rot_N"></div>
<div><img src="moon/img/holds/h193.png" class="hold col_D row_4 rot_NW"></div>
<div><img src="moon/img/holds/h148.png" class="hold col_E row_4 rot_NE"></div>
<div><img src="moon/img/holds/h56.png" class="hold col_F row_4 rot_N"></div>
<div><img src="moon/img/holds/h122.png" class="hold col_G row_4 rot_N"></div>
<div><img src="moon/img/holds/h21.png" class="hold col_H row_4 rot_SE"></div>
<div><img src="moon/img/holds/h112.png" class="hold col_I row_4 rot_NE"></div>
<div><img src="moon/img/holds/h59.png" class="hold col_J row_4 rot_N"></div>
<div><img src="moon/img/holds/h200.png" class="hold col_K row_4 rot_NE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h70.png" class="hold col_A row_3 rot_N"></div>
<div><img src="moon/img/holds/h199.png" class="hold col_B row_3 rot_SW"></div>
<div><img src="moon/img/holds/h8.png" class="hold col_C row_3 rot_W"></div>
<div><img src="moon/img/holds/h100.png" class="hold col_D row_3 rot_SW"></div>
<div><img src="moon/img/holds/h165.png" class="hold col_E row_3 rot_SW"></div>
<div><img src="moon/img/holds/h114.png" class="hold col_F row_3 rot_SE"></div>
<div><img src="moon/img/holds/h65.png" class="hold col_G row_3 rot_N"></div>
<div><img src="moon/img/holds/h147.png" class="hold col_H row_3 rot_SE"></div>
<div><img src="moon/img/holds/h166.png" class="hold col_I row_3 rot_SE"></div>
<div><img src="moon/img/holds/h23.png" class="hold col_J row_3 rot_NE"></div>
<div><img src="moon/img/holds/h57.png" class="hold col_K row_3 rot_SE"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h113.png" class="hold col_A row_2 rot_S"></div>
<div><img src="moon/img/holds/h61.png" class="hold col_B row_2 rot_SW"></div>
<div><img src="moon/img/holds/h19.png" class="hold col_C row_2 rot_S"></div>
<div><img src="moon/img/holds/h158.png" class="hold col_D row_2 rot_NW"></div>
<div><img src="moon/img/holds/h14.png" class="hold col_E row_2 rot_S"></div>
<div><img src="moon/img/holds/h64.png" class="hold col_F row_2 rot_S"></div>
<div><img src="moon/img/holds/h160.png" class="hold col_G row_2 rot_S"></div>
<div><img src="moon/img/holds/h29.png" class="hold col_H row_2 rot_S"></div>
<div><img src="moon/img/holds/h134.png" class="hold col_I row_2 rot_SE"></div>
<div><img src="moon/img/holds/h167.png" class="hold col_J row_2 rot_NE"></div>
<div><img src="moon/img/holds/h159.png" class="hold col_K row_2 rot_S"></div>
<!-- ROW -->
<div><img src="moon/img/holds/h185.png" class="hold col_A row_1 rot_SW"></div>
<div><img src="moon/img/holds/h67.png" class="hold col_B row_1 rot_S"></div>
<div><img src="moon/img/holds/h102.png" class="hold col_C row_1 rot_S"></div>
<div><img src="moon/img/holds/h38.png" class="hold col_D row_1 rot_W"></div>
<div><img src="moon/img/holds/h155.png" class="hold col_E row_1 rot_W"></div>
<div><img src="moon/img/holds/h109.png" class="hold col_F row_1 rot_S"></div>
<div><img src="moon/img/holds/h4.png" class="hold col_G row_1 rot_E"></div>
<div><img src="moon/img/holds/h85.png" class="hold col_H row_1 rot_SE"></div>
<div><img src="moon/img/holds/h153.png" class="hold col_I row_1 rot_SW"></div>
<div><img src="moon/img/holds/h15.png" class="hold col_J row_1 rot_N"></div>
<div><img src="moon/img/holds/h62.png" class="hold col_K row_1 rot_SE"></div>